{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction

{% endblock %}

{% block inner_content %}

    <div class="col-12 mb-3 ">
        <div class="card card-body bg-light">


            <div class="mb-2 ">
                This is an experimental session on group decision-making. In this session you will make a series of
                choices.
                At the end of the session, you will be paid depending on the specific choices that you made during the
                session and the choices made by other participants.
            </div>
            <div class="mb-2 ">
                This session has 4 modules, each with its own experiment, and you will be able to earn money in each
                module.
                Your total earnings will be the sum of your payoffs in each module plus the show-up fee of $1000. Each
                module will start with a brief instruction period, after which we complete that module.

            </div>
            <div class="mb-2 ">
                If you have questions during the instruction period, please raise your hand after I have completed
                reading
                the instructions. Your questions will be answered out loud so everyone can hear. Please restrict these
                questions to clarifications about the instructions only. If you have any questions after one of paid
                parts
                of the session has begun, raise your hand, and I will come and assist you. Apart from the questions
                directed
                to the experimenter, you are expressly asked to refrain from communicating with other participants in
                the
                session.
            </div>
        </div>
    </div>




{% endblock %}
