{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block inner_title %}
    Outcome


{% endblock %}

{% block inner_content %}
    <table class="table table-hover table-striped">
        <tr>
            <td>The outcome on Task 1 is</td>
            <td>{{ group.get_task1outcome_display }}</td>
        </tr>
        <tr>
            <td>The outcome on Task 2 is</td>
            <td>{{ group.get_task2outcome_display }}</td>
        </tr>
        {% if player.role == 'P1' %}
            <tr>
                <td>Your endowment</td>
                <td>{{ Constants.p1endowment }}</td>
            </tr>
            <tr>
                <td>Your cost on Task 1:</td>
                <td>{{ task1cost }}</td>
            </tr>
            <tr>
                <td>Your cost on Task 2:</td>
                <td>{{ task2cost }}</td>
            </tr>
            <tr>
                <td>P2 Reward decision:</td>
                <td>{{ group.get_retention_decision|yesno:'Reward, No Reward' }}</td>
            </tr>
            <tr>
                <td>Your gain from reward:</td>
                <td>{{ retention_gain }}</td>
            </tr>
            <tr>
                <td>Your payoff in this round:</td>
                <td>{{ player.payoff }}</td>
            </tr>
        {% endif %}


    </table>


{% endblock %}
