{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    Player 1 Instructions
{% endblock %}

{% block inner_content %}
    <div class="col-12 mb-3 ">
        <div class="card card-body bg-light">
            <div class="mb-2 ">
                You are {{ player.get_role_name }} in this game and have been randomly matched
                with {{ player.get_another_role }}.
            </div>
            <div class="mb-2 ">
                In this game you will be asked whether you want to pay a cost to increase the probability of Success on
                ONE, BOTH,
                OR NEITHER OF 2 Tasks: Task 1 and Task 2. You have an initial endowment of {{ Constants.p1endowment }}
                ECUs (remember that 300
                ECUs=XX£) that you can spend to increase the probability of Success on either Task. The cost to you of
                increasing
                the probability of Success on either Task is {{ Constants.lotterycost }} ECUs. Thus, if you choose to
                pay the cost on one of the
                two Tasks,
                you will be deducted 150 ECUs from that round’s payoff. If you choose to pay the cost on both Tasks, you
                will be
                deducted 300 ECUs from that round’s payoff. If you choose to not pay the cost on either Task, you will
                keep your 300
                ECUs.
            </div>
            <div class="mb-2 ">

                Before you make your decision whether to pay the cost(s) to improve the probability of success on Tasks
                1 and 2,
                {{ player.get_another_role }} will be asked for what outcomes s/he will Reward or Not Reward you.

            </div>
            <div class="mb-2 ">

                Here are the Reward Decision rules {{ player.get_another_role }} can announce:
                <ul>
                    {% for i in Constants.RETAININGCHOICES %}
                        <li>{{ i.1 }}</li>
                    {% endfor %}

                </ul>


            </div>
        </div>
    </div>

{% endblock %}
