{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ role2 }} Instructions

{% endblock %}

{% block inner_content %}
    <div class="col-12 mb-3 ">
        <div class="card card-body bg-light">
            <div class="mb-2 ">
                You are {{ player.get_role_name }} in this game and have been randomly matched with {{ role1 }}.
            </div>
            <div class="mb-2 ">
                {{ Role1 }} has an initial endowment of {{ Constants.p1endowment|c }}. That player can use this
                endowment to pay a cost to
                increase the
                probability of Success on ONE, BOTH, OR NEITHER OF 2 Tasks Task 1 and Task 2. The cost to {{ role1 }} of
                increasing the
                probability of Success on either Task is {{ Constants.lotterycost|c }}. Thus, if {{ role1 }} chooses to
                pay the cost on one
                of
                the two
                Tasks, s/he will be deducted {{ Constants.lotterycost|c }} from that round’s payoff. If s/he chooses to
                pay the cost on both
                Tasks, s/he
                will be deducted {{ Constants.p1endowment|c }} from that round’s payoff. If s/he chooses not to pay the
                cost on either Task,
                s/he will
                keep {{ Constants.p1endowment|c }}.
            </div>
            <div class="mb-2 ">

                If {{ role1 }} chooses to pay the cost on a given Task, the chance of Success on that Task
                is {{ Constants.pweights.0 }} out of
                {{ Constants.tot_prop }},
                that is,
                there is a {{ Constants.prob }} probability of the outcome on that Task being Success. If {{ role1 }}
                chooses not to pay
                that
                cost, then
                the outcome on that Task is Failure.

            </div>
            <div class="mb-2 ">


                Depending on the outcomes on the two Tasks, you can earn money.

                In each round, before observing the outcomes on the Tasks, you will first choose a rule that determines
                when {{ role1 }} is rewarded or not rewarded contingent on the outcomes on the Tasks. Your choices will
                be:
            </div>

            <div class="mb-2 ">

                <ul>
                    {% for i in Constants.RETAININGCHOICES %}
                        <li>{{ i.1 }}</li>
                    {% endfor %}

                </ul>
            </div>
            <div class="mb-2 ">

                If according to the reward rule you announced, {{ role1 }} is rewarded, {{ role1 }} will earn an
                additional
                900 ECUs.
                If according to the reward rule you announced {{ role1 }} is not rewarded, then {{ role1 }} will not
                earn any
                additional
                money.
            </div>
            <div class="mb-2 ">
                In some of the rounds of the module, you will also be asked to provide your a guess of what
                choices {{ role1 }} is going to make.

            </div>
            <div class="mb-2 ">

                The payoff you will receive for the round will depend on two things: the outcomes on each task, and your
                guesses of
                {{ role1 }}’s choices. For each Task outcome of Success, you will gain 280 ECUs. And for each correct
                guess
                of {{ role1 }}’s choice, you will gain 140 ECUs.

            </div>
            {# TODO: insert normal codes instead of hardcoding here#}
            <div class="mb-2 ">
                To illustrate: suppose, as in the example above, that {{ role2 }} chose “Always Reward.” Suppose,
                further,
                that {{ role2 }} guessed that {{ role1 }} would choose to pay the cost on both Tasks, which turned out
                to be correct.
            </div>
            <div class="mb-2 ">
                If the outcomes on both Tasks turn out to be Success, then s/he will receive
                280 ECUs (Task 1) + 280 ECUs (Task 2) + 140 ECU (guess on Task 1) +140 ECU (guess on Task 2) = 840 ECUs.
            </div>
            <div class="mb-2 ">
                If the outcome on Task 1 is Success but the outcome on Task 2 is Failure, then {{ role2 }} receives 280
                ECUs (Task 1) +
                0 ECUs (Task 2) + 140 ECU (guess on Task 1) + 140 ECU (guess on Task 2) = 560 ECUs.
            </div>
            <div class="mb-2 ">
                If the outcome on Task 1 is Failure but the outcome on Task 2 is Success, then {{ role2 }} receives 0
                ECUs (Task 1) +
                280 ECUs (Task 2) + 140 ECU (guess on Task 1) + 140 ECU (guess on Task 2) = 560 ECUs.
            </div>
            <div class="mb-2 ">

                If the outcome on both Tasks is Failure, then {{ role2 }} receives
                0 ECUs (Task 1) + 0 ECUs (Task 2) + 140 ECU (guess on Task 1) +140 ECU (guess on Task 2) = 280 ECUs.
            </div>

        </div>
    </div>

{% endblock %}
