{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}


{% endblock %}

{% block content %}


    <div class="card ">
        <div class="card-header">

            <div class="card-body">
                <h5 class="card-title">Switching roles</h5>
                <div class="mb-3">

                    <div>
                        You will now play {{ Constants.num_second_part }} more
                        round{{ Constants.num_second_part|pluralize }} of the exact same game but now in the role of
                        {{ player.get_role_name }}. 
                    </div>
                    <div>
                        This
                        is the last module of that game. Modules 3 and 4 will be different experiments.
                    </div>
                </div>

                {% next_button %}
            </div>
        </div>
    </div>
{% endblock %}
